#header {
    color: grey;
    background-color: rgb(73, 76, 79);
}

hr {
    position: relative;
    margin-top: 132px;
}

#body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./resource/color_image_2.jpg);
}

.title:hover {
    cursor: pointer;
}

.horizontal {
    display: inline-block;
    position: relative;
    top: -12px;
    font-size: 17px;
}

.space.horizontal {
    margin-left: 900px;
    padding-top: 42px;
    transition: color 0.4s ease;
}

.space.horizontal:hover {
    color: green;
    font-size: 30px;
    cursor: pointer;
}

.horizontal.title {
    font-size: 30px;
    position: relative;
    top: -12px;
    font-style: oblique;
}

.horizontal.minutegap {
    padding-left: 25px;
    cursor: pointer;
    transition: color 0.7s ease;
}

.horizontal.minutegap:hover {
    color: green;
    font-size: 30px;
}

.general-height {
    height: 420px;
}

#leftArrow {
    position: absolute;
    height: 12px;
    width: 12px;
    float: left;
    z-index: 999;
    top: 191px;
}

#leftArrow:hover {
    cursor: pointer;
}

#rightArrow {
    position: absolute;
    height: 12px;
    width: 12px;
    float: right;
    z-index: 999;
    top: 191px;
}

#rightArrow:hover {
    cursor: pointer;
}

#footer {
    color: grey;
    height: 60px;
    background-color: rgb(73, 76, 79);
}

#footer div {
    position: relative;
    display: inline-block;
    top: 50%;
    font-size: 20px;
    margin-left: 120px;
    transition: color 0.7s ease;
}

#footer div:hover {
    color: green;
    cursor: pointer;
    font-size: 30px;
}

.image-height {
    position: relative;
    height: 420px;
    width: 1333px;
}

.contentBoxOne {
    position: relative;
    font-size: 33px;
    color: rgb(129, 121, 125);
    top: 81px;
    padding-left: 38%;
}

.contentBoxTwo {
    position: relative;
    font-size: 33px;
    color: rgb(129, 121, 125);
    top: 110px;
    padding-left: 38%;
}

#secondContentOne div {
    color: grey;
    font-size: 20px;
    margin: 14px;
}

.line-one {
    height: 20px;
    width: 704px;
    position: relative;
    text-align: center;
    left: -34%;
    margin-bottom: 36px
}

#secondContentTwo div {
    color: grey;
    font-size: 20px;
    margin: 14px;
    margin-left: -8px;
}

.horizontal-block-list-view {
    display: inline-block;
    position: relative;
    top: 80px;
    margin: 25px;
    left: 40px;
}

.BiggerText {
    position: relative;
    text-align: center;
    font-size: x-large;
    color: rgb(87, 81, 81);
}

.SmallerText {
    position: relative;
    text-align: center;
    font-size: larger;
    width: 306px;
    max-height: 80px;
    color: grey;
}

.arrow {
    height: 52px;
}

.arrow.right-side {
    position: absolute;
    left: 1280px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#videoDiv {
    position: relative;
    margin-top: 10px;
}
/*
#howWeDo {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./resource/color_image_4.jpg);
}
*/
